#players li{
    text-align: center;
}

.main-title{
    text-align: center;
    background: #2bbbad;
    color: #fff;
    padding: 2% 10%;
}
.body{
    padding: 0% 10%;
}

#btn_start_game{
    width: 20%;
    margin-left: 40%;
}

.footer{
    fixed: bot;
    bot: 1%;
}